/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

$fontColor: #5b5b5b;
$background: #f9f9f9;
$inputBackground: #f6f5f3;
$shadowColor: #cdcdcd;
$buttonStartColor: #1079a9;
$buttonEndColor: #0e5a7a;

* { box-sizing: border-box; }

body {
  background-color: $background;
  color: #fontColor;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
}

form {
  width: 635px;
  margin: 17px auto 50px auto;

  label {
    width: 210px;
    text-align: right;
    display: inline-block;
    margin: 0;
    padding-right: 50px;
  }

  select {
    width: 420px;
    margin: 0 0 17px 0;
  }

  input, textarea {
    width: 420px;
    margin: 0 0 17px 0;
    padding: 5px 10px;
    background-color: $inputBackground;
    color: $fontColor;
    border: 0;
    box-shadow: inset 3px 3px 5px $shadowColor;
    border-radius: 4px;
  }

  textarea {
    min-height: 200px;
  }

  input {
    height: 44px;
    margin-left: 3px;
  }

  input[type="submit"] {
    width: auto;
    height: 42px;
    float: right;
    box-shadow: none;
    @include background-image(linear-gradient($buttonStartColor, $buttonEndColor));
    color: #ebffff;
    font-size: 15px;
    line-height: 15px;
    padding-top: 3px;
  }
}

.toTop {
  margin-top: 5px;
  vertical-align: top;
}

/* Sometimes it would be good to take into account height too. */
/* Increase font-size for mobile? */
@media screen and (max-width: 629px){
  form {
    width: 420px; /* Smallest screen width 320px? */

    label {
      text-align: left;
    }
  }
}